<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true"></div>

<aside class="main"></aside>
<section class="main"></section>

<script type="text/javascript" charset="utf-8">
  $(function () {
    Aldrin.start();
  });
</script>

<%#<hgroup>%>
  <%#<h1>Ike GPS</h1>%>
  <%#<p><strong>13 testers, 64 builds</strong></p>%>
<%#</hgroup>%>

<%#<ul class="nav nav-tabs tab-nav">%>
  <%#<li class="active"><a href="#current-build" data-toggle="tab">Build #64</a></li>%>
  <%#<li><a href="#permissions" data-toggle="tab">Permissions</a></li>%>
<%#</ul>%>

<%#[> Tab panes <]%>
<%#<div class="tab-content">%>
  <%#<div class="tab-pane active" id="current-build">%>
    <%#Upload date etc%>
    <%#Release notes%>
  <%#</div>%>

  <%#<div class="tab-pane" id="permissions">%>
    <%#Permissions%>
  <%#</div>%>
<%#</div>%>
