<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true"></div>

<aside class="main"></aside>
<section class="main"></section>

<script type="text/javascript" charset="utf-8">
  $(function () {
    Aldrin.start();
  });
</script>
