<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true"></div>

<div id="sidebar-region"></div>
<div id="main-region"></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    Aldrin.start();
  });
</script>
