# Default Rails ignores
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/vendor/ruby
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/private
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb

# RVM/Rbenv ignores
.ruby-version
.ruby-gemset
.rvmrc

# Ignore Carrierwave Uploads
public/uploads
.env
