<div class="row mtl">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">Add a new App</h3>
    </div>

    <div class="panel-body">
      <form id="new-app" class="form-horizontal">
        <p>Enter a name below to create a new App that can be distributed with Testpilot. Your App is private by default, but you can invite collaborators by email after it is created.</p>
        <div class="form-group mtl">
          <div class="col-md-6 col-lg-6">
            <label for="app[name]" class="sr-only">Enter a name for your App</label>
            <input type="text" required="required" id="app_name" name="app[name]" placeholder="App name" class="form-control">
          </div>
        </div>
        <button class="btn btn-default" data-form-button="cancel">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right">Add</button>
      </form>
    </div>
  </div>
</div>



