<div class="modal-content">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Add a new App</h2>
  </div>

  <div class="modal-body">
    <form id="new-app" class="form-horizontal">
      <p>Enter a name below to create a new App that can be distributed with Testpilot. Your App is private by default, but you can invite collaborators by email after it is created.</p>
      <div class="form-group mtl">
        <div class="col-md-6 col-lg-6">
          <label for="app[name]" class="sr-only">Enter a name for your App</label>
          <input type="text" required="required" id="app_name" name="app[name]" placeholder="App name" class="form-control">
        </div>
      </div>
      <button class="btn btn-default js-cancel">Cancel</button>
      <button type="submit" class="btn btn-primary pull-right">Add</button>
    </form>
</div>



