<div class="media">
  <a class="pull-left" href="#/<%= id %>">
    <img class="media-object" src="<%= icon.thumb %>" alt="<%= name %>'s Icon" />
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= name %>
  </div>
</div>

