<div class="jumbotron mtxl">
  <div class="media">
    <a class="pull-left mrl" href="#">
      <img width="128" height="128" src="<%= icon.default %>" alt="<%= name %>'s Icon" />
    </a>
    <div class="media-body">
        <h1 class="media-heading"><%= name %></h1>
        <p>
          <button class="btn btn-primary btn-lg js-manage-assignments" type="button">
            <i class="fa fa-users"></i>&nbsp;
            Manage access
          </button>
        </p>
    </div>
  </div>
</div>

<ul>
  <i class="fa fa-spinner fa-spin loading-indicator"></i>
</ul>
