<% unless builds.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Uploaded</th>
      </tr>
    </thead>

    <tbody>
      <% builds.each do |build| %>
        <tr>
          <td><h5><%= build.number %></h5></td>
          <td><%= build.created_at.strftime("%d-%m-%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h5><%= t('app.builds.none')%></h5>
<% end %>

