<div class="row">
  <div class="col-xs-2">
    <h4>#<%= number %></h4>
  </div>
  <div class="col-xs-8">
    <h5>
    <time itemprop="createdAt" datetime="<%= created_at %>">
      <%= moment(created_at).fromNow() %>
    </time>
    </h5>
  </div>
  <div class="col-xs-2">
    <div class="pull-right">
      <button class="btn btn-success download-apk">Install</button>
    </div>
  </div>
</div>

