input.form-control:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

input.form-control:-webkit-autofill:focus {
  -webkit-box-shadow:0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

input.form-control {
  border: 1px solid $grey;
  background: white;
  padding: 1em;
  font-size: 12px;
  margin-bottom: 1em;
  width: 240px;

  &:focus {
    outline: none;
    border-color: $highlight;
  }
}

.input-block {
  display: block;
}

.checkbox {
  margin-bottom: 0.75em;
}
