<div class="alert alert-info">
  There are no users currently assigned to this application.
  <button class="close js-refresh" type="button" aria-hidden="true">
    <i class="fa fa-refresh"></i>
  </button>
</div>