<div class="row mtl">
  <div class="apps-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Manage Access</h3>
    </div>

    <div id="assignments-list" class="panel-body"></div>
  </div>
</div>


