body {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -ms-flex-direction: column;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  flex: 1;
}

nav.main, .wrapper {
  min-width: 960px;
}
