@mixin bangers {
  font-family: 'bangers', sans-serif;
}

// $blue: #0074D9;
$blue: rgb(62, 122, 249);


body.authentication {
  padding: 40px auto;
  background-color: #EEE;

  .auth-container {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-authentication {
    .form-authentication-heading, .checkbox, .btn {
      margin-bottom: 10px;
    }

    .checkbox {
      font-weight: normal;
    }

    .btn {
      margin-top: 10px;
    }

    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
  }
}