@mixin bangers {
  font-family: 'bangers', sans-serif;
}

// $blue: #0074D9;
$blue: rgb(62, 122, 249);


body.authentication {
  padding: 40px auto;
  background: rgb(44, 48, 49);
  min-height: 100%;

  .container {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100%;
  }

  .auth-container {
    width: 320px;
    padding: 15px;
    margin: 0 auto;
  }

  h1 {
    @include bangers;
    color: $blue;
    text-align: center;
  }

  .form-authentication {

    .form-authentication-heading, .checkbox, .btn {
      margin-bottom: 10px;
    }

    .checkbox {
      font-weight: normal;
    }

    .btn {
      margin-top: 10px;
    }

    label {
      color: white;
      font-size: 16px;
    }

    .form-control {
      margin: 20px auto;
      height: 3.5em;
      padding: 10px;
      font-size: 16px;
    }
  }
}