<div class="container">
  <div class="row mbl">
    <div class="col-xs-12">
      <h2><%= link_to @app.name, app_path %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-3 col-lg-4">
      <%= render 'apps/sidebar' %>
    </div>

    <div class="col-sm-10 col-md-9 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "Build ##{@app.latest_build.number}" if @app.latest_build.present? %></h3>
        </div>
        <div class="panel-body">
          <%= render 'builds/notes', build: @app.latest_build %>
        </div>
      </div>
    </div>
  </div>

</div>

