
$screen-sm-min: 767px;
$blue: #0074D9;


@mixin bangers {
  font-family: 'bangers', sans-serif;
}

/* Override z-index of modal-content to
   ensure that it displays over the top of
   the backdrop.
*/
.modal-content {
  z-index: 1050;
}

.modal-footer.modal-footer-left {
  text-align: left;
}

body {
  background-color: #F1F1F1;
  font-size: 14px;
}

