<form id="new_assignment" class="form-inline">
  <h4>Allow access to this application:</h4>
  <p>
    Enter an email address below to allow access this application. If they
    are not already an Aldrin user, they will be invited to sign up.
  <div class="form-group">
    <label for="assignment[email]" class="sr-only">Email address</label>
    <input type="email" required="required" id="assignment_email" name="email" placeholder="Email address" class="form-control">
  </div>

  <div class="form-group mlm mrm">
    <label>
      <input type="hidden" name="developer" value="false" />
      <input type="checkbox" name="developer" value="true" />
      Developer?
    </label>
  </div>

  <button type="submit" class="btn btn-default">Add or Invite</button>
</form>
