<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h1>Welcome <%= @email %>,</h1>
            <p class="lead">
              It's great to have you onboard with Testpilot! You can log in by clicking
              on the link below to confirm your account:
            </p>

            <p>
              <h4 style="text-align:center;"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></h4>
            </p>


          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row callout">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td class="panel">
            <p>
              You won't be able to sign in until you confirm your account, but any apps
              you are granted access to will be waiting for you when you sign in.
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>


<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td align="center">
            <center>
              <p style="text-align:center;"><a href="https://fly.testpilotapp.com">TestPilot</a> | <a href="https://testpilotapp.com/terms-of-use">Terms</a> | <a href="https://testpilotapp.com/privacy">Privacy</a></p>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>