<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h1>Hello <%= @resource.full_name %>!</h1>
            <p class="lead">
              Someone has requested a link to change your password. You can do this through the link below.
            </p>

            <p>
              <h4 style="text-align:center;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></h4>
            </p>


          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row callout">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td class="panel">
            <ul>
              <li>If you didn't request this, please ignore this email.</li>
              <li>Your password won't change until you access the link above and create a new one.</li>
            </ul>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>


<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td align="center">
            <center>
              <p style="text-align:center;"><a href="https://fly.testpilotapp.com">Testpilot</a> | <a href="https://testpilotapp.com/terms-of-use">Terms</a> | <a href="https://testpilotapp.com/privacy">Privacy</a></p>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>