<div class="col-sm-4 col-md-3 sidebar">
  <%= link_to root_path, class: 'brand' do %>
    <%= icon :rocket %>
    TestPilot
  <% end %>

  <%= render 'current_user' %>
  <div id="navigation"></div>
</div>