<div class="media">
  <a class="pull-left mrl" href="#">
    <img width="128" height="128" src="<%= icon.default %>" alt="<%= name %> Icon" />
  </a>
  <div class="media-body">
      <h1 class="media-heading"><%= name %></h1>
  </div>
</div>
