<a class="pull-left mrl" href="#">
  <img width="128" height="128" src="<%= icon.default %>" alt="<%= name %> Icon" />
</a>

<hgroup>
  <h1><%= name %></h1>
  <p><strong><%= build_count == 1 && '1 build' || build_count + ' builds' %></strong></p>
</hgroup>
