<div id="app-description-region"></div>

<div id="app-controls-region"></div>

<div class="tab-content">
  <div class="tab-pane" id="app-current-build-region"></div>
  <div class="tab-pane" id="app-builds-region"></div>
  <div class="tab-pane" id="app-permissions-region"></div>
</div>

