<nav class="main">
  <span class="brand logo">aldrin</span>

  <span class="account">Signed in as <a><%= current_user.full_name %></a></span>
</nav>


<%#= link_to 'Update your account', edit_user_registration_path %>
<%#= link_to 'Sign out', destroy_user_session_path, method: :delete %>
