<a href="#/apps/<%= id %>">
  <div class="app">
    <img class="app-figure" src="<%= icon.thumb %>" alt="<%= name %> Icon" width="32" height="32">
    <p class="app-body">
      <%= name %>
    </p>
  </div>
</a>
